body {
	--lsearch-height: 700px;
}

.lemons-search {
	/* marker class */
}

.lemons-search--modal {
	min-width: 80%;
	padding: revert;
}

.lemons-search--modal .modal-header {
	margin: revert;
}

.lemons-search--preview-search {
	display: flex;
	flex-direction: row;
	gap: var(--size-4-3);
	height: var(--lsearch-height);
}

.lemons-search--preview-search .lemons-search--search {
	flex: 1;
}

.lemons-search--preview-search .lemons-search--search input {
	width: 100%;
}

.lemons-search--preview-search .lemons-search--preview {
	flex: 2;
	text-wrap: wrap;
	overflow-y: auto;
	padding: var(--size-4-3);
}

.lemons-search--preview-search .lemons-search--preview .preview-empty {
	color: var(--text-faint);
}

.lemons-search--preview-search .lemons-search--preview .preview-text {
	padding: revert;
}

.lemons-search--preview-search .lemons-search--preview .preview-img img {
	max-width: 100%;
}

.lemons-search .modal-content .prompt-results {
	padding: 0;
	overflow-y: auto;
}

.lemons-search .suggestion-sub-text {
	color: var(--text-faint);
}

.lemons-search .lemons-search--suggestion-group-header {
	padding: var(--size-2-3);
}

.lemons-search .lemons-search--suggestion-empty {
	padding: var(--size-2-3) var(--size-4-3);
	color: var(--text-faint);
}

/* .lemons-search-modal .modal-content .prompt-results .suggestion-title {
	color: var(--text-muted);

	& .suggestion-highlight {
		color: var(--text-normal);
	}
} */
