body {
	--lsearch-height: 700px;
}

.lemons-search-modal {
	min-width: 80%;
}

.lemons-search-wrapper {
	display: flex;
	flex-direction: row;
	gap: var(--size-4-3);
	height: var(--lsearch-height);
}

.lemons-search-modal .lemons-search-wrapper .lemons-search-search {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: var(--size-4-3);
}

.lemons-search-modal .lemons-search-wrapper .lemons-search-search input {
	width: 100%;
}

.lemons-search-modal .lemons-search-wrapper .lemons-search-preview {
	flex: 2;
	white-space: pre;
	text-wrap: wrap;
	overflow-y: auto;
}

.lemons-search-modal .lemons-search-wrapper .lemons-search-preview .preview-empty {
	color: var(--text-faint);
}

.lemons-search-modal .lemons-search-wrapper .lemons-search-preview .preview-img img {
	max-width: 100%;
}

.lemons-search-modal .modal-content .prompt-results {
	padding: 0;
	overflow-y: auto;
}

.lemons-search-modal .suggestion-sub-text {
	color: var(--text-faint);
}

/* .lemons-search-modal .modal-content .prompt-results .suggestion-title {
	color: var(--text-muted);

	& .suggestion-highlight {
		color: var(--text-normal);
	}
} */
